@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */
.container{
    width: 90%;
    margin: auto;
}

.primary-btn{
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    background-color: #4E47FF;
    color: white;
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
    transition: all 1s;
    cursor: pointer;
}

.primary-btn:hover{
    background-color: #2e29bb;
}

/* header style */
.header-area{
    width: 100%;
    height: 100vh;
    background-image: url(assets/Hero-bg.png);
}

.nav-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.logo-area .logo{
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 34px;
    color: #4E47FF;
    font-weight: 700;
}

.banner{
    max-width: 900px;
    margin: 150px 117px;
}

.banner-content{
    color: #252432;
    font-family: "Raleway", sans-serif;
    font-size: 65px;
    text-align: center;
}

.banner-btn{
    margin: 37px auto 0;
    display: block;
}

/* main style */
.action-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 220px;
    margin: 116px 0;
    font-family: "Raleway", sans-serif;
}

.action-content .action-title{
    font-size: 42px;
    color: #252432;
}

.action-content .action-description{
    font-size: 24px;
    color: #252432;
    line-height: 30px;
    margin: 23px 0;
}

.action-img img{
    border-radius: 48px;
}

.user-area{
    background-color: rgba(78, 71, 255, 10%);
    padding: 50px 142px;
    text-align: center;
    border-radius: 24px;
}

.user-area-title{
    font-size: 38px;
    color: #252432;
    font-family: "Raleway", sans-serif;
    margin-bottom: 40px;
}

.user-container{
    display: flex;
    justify-content: space-between;
    font-family: "Inter", sans-serif;
}

.user-container .number{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}

.testimonial-area{
    margin: 137px 0;
}

.testimonial-title{
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 42px;
    margin-bottom: 50px;
    color: #252432;
}

.testimonial-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.testimonial-container .card{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
    border-radius: 14px;
    padding: 24px;
    font-family: "Inter", sans-serif;
}

.review-star{
    width: 90px;
    height: 20px;
    background-image: url(assets/icon-star.png);
    background-repeat: repeat-x;
}

.card-content{
    padding: 24px 0;
}

.card-title{
    color: #252432;
    margin-bottom: 8px;
}

.card-description{
    color: #252432;
    padding: 5px 0;
}

.person{
    display: flex;
    gap: 12px;
}

.person img{
    border-radius: 50%;
}

.person-info .reviewer{
    color: #252432;
    font-weight: bold;
    font-size: 17px;
    padding-bottom: 5px;
}

.person-info .date{
    font-size: 13px;
}

